*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfplan
tfplan.binary
plan_output.txt
lambda/*.zip

# graphify
graphify-out
graphify-out/*

# ignore claude
.claude
.claude/*

# ignore kimchi
.kimchi
.kimchi/*